<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adminapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:windowSoftInputMode="stateVisible|adjustResize"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="ADMIN"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true">
        <activity
            android:name=".EditEvent"
            android:exported="false"
            android:theme="@style/Theme.AdminApp"/>
        <activity
            android:name=".BaseActivity"
            android:exported="false"
            android:theme="@style/Theme.AdminApp" />
        <activity
            android:name=".ClasswiseView"
            android:exported="false"
            android:theme="@style/Theme.AdminApp" />
        <activity
            android:name=".ViewEvents"
            android:exported="false"
            android:theme="@style/Theme.AdminApp" />
        <activity
            android:name=".CreateForm"
            android:exported="false"
            android:theme="@style/Theme.AdminApp" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:theme="@style/Theme.AdminApp" />
        <activity
            android:name=".ResultPage"
            android:exported="false"
            android:theme="@style/Theme.AdminApp" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>